  .nav {
      width: 300px;
      height: 150px;
      display: flex;
      align-items: center;
  }

  .wallet {
    height: 80px;
    width: 300px;
}

  .ethlogo {
      padding-top: 12px;
      width: 50px;
      height: 50px;
      float: left;
  }

  .walletText {
      margin-left: 60px;
      margin-top: 27.3px;
  }

  .walletBtn:visited {
      color: black;
  }