.profilePageContainer {
  display: flex;
  justify-content: center;
}

.profilePage {
  width: 540px;
  margin-top: 90px;
  color: white;
}

.profileImg {
  float: left;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.userInfo {
  margin-left: 180px;
  padding-top: 0px;
}

.username {
  font-size: 40px;
  margin: 0;
  display: inline-block;
}

.followToggle {
  margin-left: 10px;
}

.bottomInfo {

}

.numPosts {
  display: inline-block;
}

.numFollowers {
  display: inline-block;
  margin-left: 20px;
}

.bio {
  margin: 0;
}
