.walletMainOuter {
    display: flex;
    justify-content: center;
    margin-right: 220px;
    margin-left: 220px;
}

.walletMain {
    display: block;
    margin-right: 220px;
    margin-left: 220px;
}

.walletInfoCard {
    /* Add shadows to create the "card" effect */
    width: 800px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
    height: 130px;
  }

  .substance {
      margin-left: 10px;
  }

  .walletTxCard {
    /* Add shadows to create the "card" effect */
    width: 800px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
    overflow-y: scroll;
    height: 400px;
  }
