.walletMainOuter {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,  rgba(22,73,222,1) -600px, rgba(0,212,255,1) 100%);
    height: 100vh;
}

.walletMain {
    display: block;
    max-width: 540px;
    margin-top: 50px;
}

.walletInfoCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    word-wrap: break-word;
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
    height: 130px;
  }

  .substance {
      margin-left: 10px;
  }

  .walletTxCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
    overflow-y: scroll;
    height: 400px;
  }
