
@font-face {
  font-family: Best-font;
  src: url("Monument\ Extended\ Regular\ 400.otf") format("opentype");
}
ul {
  list-style-type: none;
}
/* ===================================================================== */
/* Content Container */
.Content-container {
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: Best-font;
  height: fit-content;
  width: 88%;
  background: transparent;
  font-family: Best-font;
}
/* ===================================================================== */
/* Music Container */
.music-container {
  height: 80vh;
  margin-bottom: 100px;
  background: rgb(67, 2, 151);
  border-radius: 50px;
}
.music-content {
  padding: 40px;
  height: fit-content;
}
.words-container {
  height: 30%;
  width: 100%;
}
.header-container {
  width: 50%;
  font-size: 5rem;
  height: 17vh;
  color: rgb(43, 9, 75);
  letter-spacing: 20px;
  display: flex;
  align-items: flex-end;
}
.description {
  width: 70%;
  color: rgb(214, 170, 255);
  font-size: 2rem;
  height: 30vh;
  padding-left: 50px;
}
@supports (-webkit-text-stroke: 10px rgb(238, 22, 22)) {
  .header-container h1 {
    -webkit-text-stroke: 1px white;
  }
}
/* Artist Container */
.artist-container {
  height: 40%;
  width: 100%;

}
.artist {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.artist1,.artist2,.artist3,.artist4{
    width: 25%;
    position: relative;
}
.artist-name{
  position: absolute;
  left: -20px;
}
.artist-description{
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.438);
  border-radius: 15px;
  padding-left: 10px;
}
.artist h1{
   color: rgb(214, 170, 255);
  }
  .artist p{
    color: rgb(214, 170, 255);
   }
.artist-img img{
    width: 60%;
}
#artist-img{
  width: 200px;
}

/* ===================================================================== */
/* Video Container */
.video-container {
  height: 100vh;
  background: rgb(255, 66, 66);
  margin-bottom: 100px;
  border-radius: 50px;
}
.video-content {
  padding: 40px;
  height: fit-content;
}
.words-container {
  height: 30%;
  width: 100%;
}
.video-header-container {
  width: 100%;
  font-size: 5rem;
  height: 30vh;
  color: rgb(0, 0, 0);
  letter-spacing: 20px;
  display: flex;
  justify-content: flex-end;
}
.video-description {
  width: 100%;
  color: rgb(34, 34, 34);
  font-size: 2rem;
  height: 30vh;

  display: flex;
  justify-content: flex-end;
}
.video-description p{
  width: 70%;
  text-align: end;
  padding-right: 70px;

}
@supports (-webkit-text-stroke: 10px rgb(238, 22, 22)) {
  .video-header-container h1 {
    -webkit-text-stroke: 1px white;
  }
}
/* ===================================================================== */
/* Game Container */
.game-container {
  height: 100vh;
  background: rgb(0, 0, 0);
  margin-bottom: 100px;
  border-radius: 50px;
}
.game-content {
  padding: 40px;
  height: fit-content;
}
.game-content img{
    width: 200px;
}
.words-container {
  height: 30%;
  width: 100%;
}
.game-header-container {
  width: 50%;
  font-size: 5rem;
  height: 30vh;
  color: rgb(81, 255, 0);
  letter-spacing: 20px;
  display: flex;
  align-items: flex-end;
}
.game-description {
  width: 70%;
  color: rgb(81, 255, 0);
  font-size: 2rem;
  height: 30vh;
  padding-left: 50px;
}
@supports (-webkit-text-stroke: 10px rgb(238, 22, 22)) {
  .game-header-container h1 {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
}

/* Carousel stufffff f=ff -=-=====-=-=-==-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-==-=-=--=-=-=-= */
#carouselContainer {
  width: 940px;
  height: 200px;
  position: relative;
}

.carousel {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carouselItem {
  width: 300px;
  height: 180px;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 100px;
  background:white;
  display: inline-block;
  background-image: url(./asap.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carouselItem1{
  position: relative;
}
.carouselItem-name{
  position: absolute;
  left: -20px;
  color: white;
}
.carouselItem-description-container{
  position: relative;
  width: 100px;
  background:blue;
}
.carouselItem-description{
  position: absolute;
  height: 100px;
  color: white;
}
#backwardArrow {
  position: absolute;
  z-index: 10;
  top: 60px;
  left: 0px;
  transform: rotate(180deg);
  height: 40px;
  width: 40px;
}

#forwardArrow {
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 0px;
  height: 40px;
  width: 40px;
}

.arrow:hover {
  cursor: pointer;
}
