@font-face {
    font-family: Best-font;
    src: url('Monument\ Extended\ Regular\ 400.otf') format('opentype');
}
/* padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px */
/* ////////////////////////////////////////////////////////////////////// */
/* Nav */
.new-nav{
    height: 100vh;
    font-family: Best-font;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.all-content:hover ~ .new-logo{
    background-color: red;
  }
  
.new-nav div{
    position: absolute;
    height: 20px;
}
.new-nav-login{
    top: 30px;
    left: 100px;
}
.new-nav-apps{
    top: 30px;
    right:100px;
}
.new-nav-about{
    bottom: 50px;
    left: 100px;

}
.new-nav-contact{
    right:100px;
    bottom: 50px;
}
/* ////////////////////////////////////////////////////////////////////// */
/* All Home Content */
.all-content{
    font-family: Best-font;
    /* height: 100vh; */
    overflow: scroll;
}
/* .new-hero{
    height: 100vh;
    background-color: transparent;
    position: relative;
}
#new-logo{
    position: absolute;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
} */
/* Home */
.home-content{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#new-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
}
#new-logo h1{
  background: white;
}
.new-hero{
    height: 60%;
    width: 65%;
}
.new-hero-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
     background-size: cover;
    background-image: url(./main.gif);
    border-radius: 20px;
    color: white;
}
/* Music */
.music-content{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: -1;
}
.new-hero-MusicContainer{
    background-image: url(./gradiant.gif);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
     background-size: cover;
    border-radius: 20px;
    color: white;
}
.new-hero-words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:10%;
}
.new-hero-words p{
    padding-top: 50px;
    font-size: 2rem;
}
.new-imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.new-img{
    position: relative;
    margin: 30px;
}
.new-img h1{
    position: absolute;
    left: -50px;
    color: white;

}
.new-img p{
    position: absolute;
    border-radius: 20%;
    padding: 5px;
    color: black;
}
.new-imgContainer img{
    width: 250px;
    border-radius: 25px;
}
/* Video */
.video-content{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: -1;
}
.new-hero-VideoConatiner{
    background-image: url(./video-gradient.gif);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
     background-size: cover;
    border-radius: 20px;
    color: white;
}
/* Games */
.games-content{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: -1;
}
.new-hero-GamesConatiner{
    background-image: url(./games.gif);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
     background-size: cover;
    border-radius: 20px;
    color: white;
}
/* About */
.about-content{
    height: 100vh;
    display: none;
}