#image {
    width: 196px;
    height: 260px;
    background-color: gray;
    border-radius: 12px;
}

.item {
    width: 260px;
    height: 196px;
    margin-top: 80px;
    margin-right: 45px;
    position: relative;
    border-radius: 12px;
    background-color: gray;
}

.sample {
    position: absolute;
    width: 260px;
    height: 196px;
    border-radius: 12px;
    object-fit: cover;
    display: none;
}

@media only screen and (max-width: 600px) {
    .item {
        margin-right: 40px;
    }
    
}

.thumbnail {
    transition: all 0.15s ease-in;
}

.thumbnail:hover {
    cursor: pointer;
    /* background-color: #8A73E2; */
}

.bottomPopUp {
    transition: all 2s ease-in-out;
}

.popUpUser {

    color: white;
    opacity: 100%;
    margin-left: 10%;
    margin-top: 10px;
    width: 150px;
    height: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.popUpTitle {
    color: white;
    opacity: 100%;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 13px;
}

.popUpName {
    margin-top: 3px;
}

.popUpUser:hover {
    color: red;
}


.popUpPic {
    width: 20px;
    border-radius: 50%;
    margin-right: 7px;
}

.flag {
    transition: all 0.35s ease-out;
}

.dolla {
    width: 12px;
    position: absolute;
    bottom: 10px;
    left: 4.3px;
}