#mediaPage {
    position: fixed;
    height: 10000px;
    overflow-y: scroll;
}

.player {
    height: 400px;
    width: 100vw;
    background-color: black;
}

#return {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color: white;
}

.content {
    width: 100vw;
    height: 100vh;
}

#videoTitle {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 30px;
    width: 700px;
}

#description {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 10px;
    width: 700px;
}

.relatedContent {
    float: right;
    width: 400px;
    height: 10000px;
    background-color: red;
}