#image {
    width: 196px;
    height: 260px;
    background-color: gray;
    border-radius: 12px;
}

.item {
    width: 196px;
    height: 260px;
    margin-top: 80px;
    margin-right: 40px;
    position: relative;
    border-radius: 12px;
    background-color: gray;
}

.item:hover {
    cursor: pointer;
    /* background-color: #8A73E2; */
}

.sample {
    position: absolute;
    width: 196px;
    height: 260px;
    border-radius: 12px;
    object-fit: cover;
    display: none;
}

.thumbnail {
    transition: all 0.3s ease-in-out;
}