#mediaPage {
    position: fixed;
    height: 10000px;
    overflow-y: scroll;
}

.player {
    height: 400px;
    width: 100vw;
    background-color: black;
}

#return {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    z-index: 4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#return:hover {
    cursor: pointer;
}

#returnImg {
    position: fixed;
    top: 18px;
    left: 19px;
    width: 55px;
    height: 55px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.contentTop {
    float: left;
    width: 100vw;
    height: 130px;
}

.contentTopLeft {
    float: left;
}

#videoTitle {
    margin-top: 28px;
    margin-left: 50px;
    font-size: 30px;
    width: 700px;
}

#description {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 10px;
    width: 700px;
}

#mediaButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 110px;
    margin-right: 5vw;
    float: right;
}

#tipButton {
    width: 80px;
    height: 40px;
    background-color: blue;
}

#likeButton {
    width: 80px;
    height: 40px;
    background-color: blue;
}

#shareButton {
    width: 80px;
    height: 40px;
    background-color: blue;
}

.commentArea {
    float: left;
    width: calc(100vw - 420px);
    height: 10000px;
    background-color: grey;
}

.relatedContent {
    margin-top: 110px;
    float: right;
    width: 400px;
    height: 10000px;
    background-color: red;
}