
#modalSecond {
    position: relative;
}

#whiteSecond {
    min-width: 200px;
    max-width: 850px;
    width: 90vw;
    height: 90vh;
    background-color: #efefef;
    border-radius: 12px;
    position: relative;
    overflow-y: scroll;
}

#previewArea {
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.postPreview {
    height: 100%;
}

#vidInfo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.enterTitle {
    margin-right: 30px;
}

#titleLabel {
    color: grey;
    font-size: 19px;
    font-weight: bold;
    width: 200px;
}

#textAreaTitle {
    width: 380px;
    max-width: 80vw;
    height: 90px;
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
}

#title {
    margin-top: 6px;
    margin-left: 6px;
    width: 360px;
    max-width: 76vw;
    height: 70px;
    font-size: 20px;
    font-family: sans-serif;
    resize: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-weight: 100;
}

#priceLabel {
    color: grey;
    font-size: 19px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

#priceLabelTag {
    display: inline-block;
    color: grey;
    font-size: 13px;
    font-weight: bold;
}

#priceInputFlex {
    display: flex;
    align-items: center;
}

#textAreaPrice {
    width: 110px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: white; 
}

#price {
    margin-top: 14px;
    margin-left: 7px;
    width: 90px;
    height: 20px;
    font-size: 20px;
    font-family: sans-serif;
    resize: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    font-weight: 100;
}

#cncyType {
    color: gray;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 10px;
}

#back {
    position: absolute;
    bottom: 20px;
    right: 115px;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back:hover {
    cursor: pointer;
}

#postBtn {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 40px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#postBtn:hover {
    cursor: pointer;
}

#postComplete {
    position: absolute;
    min-width: 200px;
    max-width: 850px;
    width: 90vw;
    height: calc(90vh - 80px);
    top: 80px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: white;
    z-index: 501;
    display: none;
    justify-content: center;
    align-items: center;
}   

@media only screen and (max-width: 710px) {
    #vidInfo {
        display: initial;
    }
    .enterTitle {
        margin-top: 30px;
        margin-left: 20px;
    }
    .enterPrice {
        margin-top: 40px;
        margin-left: 20px;
    }
  }
