
#whiteSecond {
    min-width: 200px;
    max-width: 850px;
    width: 90vw;
    height: 90vh;
    background-color: #efefef;
    border-radius: 12px;
    position: relative;
    overflow-y: scroll;
}

#thumbArea {
    position: absolute;
   left: 40px;
   top: 175px;
}

#optionTitle {
    color: grey;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    z-index: 210;
    top: 130px;
    left: 50px;
}

  .vl {
    border-left: 0.5px solid;
    border-left-color: rgba(0,0,0,0.3);
    height: 65vh;
    position: absolute;
    top: 130px;
    left: 380px;
  }

.vidInfo {
    position: absolute;
    top: 130px;
    left: 420px;
}

#titleLabel {
    color: grey;
    font-size: 19px;
    font-weight: bold;
    width: 200px;
}

#textAreaTitle {
    width: 380px;
    height: 140px;
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
}

#title {
    margin-top: 6px;
    margin-left: 6px;
    width: 360px;
    height: 130px;
    font-size: 20px;
    font-family: sans-serif;
    resize: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-weight: 100;
}

#priceLabel {
    color: grey;
    font-size: 19px;
    font-weight: bold;
    width: 200px;
    margin-top: 50px;
}

#textAreaPrice {
    width: 135px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
}

#price {
    margin-top: 6px;
    margin-left: 6px;
    width: 120px;
    height: 20px;
    font-size: 20px;
    font-family: sans-serif;
    resize: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    font-weight: 100;
}

#back {
    position: absolute;
    bottom: 20px;
    right: 115px;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back:hover {
    cursor: pointer;
}

#forward2 {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 40px;
    background-color: gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
