#center {
    width: 100vw;
    height: 100vh;
    background-color: clear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    min-width: 200px;
    max-width: 1000px;
    width: 90vw;
    height: 90vh;
    background-color: #efefef;
    border-radius: 12px;
}

#centerDrop{
    min-width: 200px;
    max-width: 1000px;
    width: 90vw;
    height: 400px;
    display: flex;
    justify-content: center;
}

#dropZone{
    min-width: 200px;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}