
.searchBar {
    padding-top: 80px;
    text-align: center;
}

.resultBody{
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    height: 60px;
}

.resultArea {
    overflow-y: scroll;
    min-height: 400px;
    height: calc(100vh - 200px);
}

.resultProfilePic {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.usernameBtn {
    color: white;
    font-family: sans-serif;
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.usernameBtn:hover {
    cursor: pointer;
}