html {
    scroll-behavior: smooth;
}

#landingBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
    z-index: -1;
}

.contentContainer {
    padding-top: 83px;
}

#footer {
    height: 200px;
    width: 100vw;
    background-color:  #8A62E2;
    
}

#set {
    display: none;
}

.tile {
    width: 90px;
    margin-left: 100px;
    padding-top: 36px;
    float: left;
    font-size: 12px;
}

.tile2 {
    width: 110px;
    padding-top: 36px;
    margin-left: 90px;
    float: left;
    font-size: 12px;
}

.footerElement {
    margin-bottom: 34px;
    color: white;
}

.footerElement:hover {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .tile {
        margin-left: 13vw;
    }

    .tile2 {
    margin-left: 60px;      
    }
    
}
