#profileBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #efefef;
    overflow-y: scroll;
}

.smoothTop {
    transition: top 0.3s ease-in-out;
}

.smoothAll {
    transition: all 0.3s ease-in-out;
}

#infoArea {
    width: 100vw;
    height: 225px;
    position: fixed;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #8A62E2;
}

#profilePicture {
    position: fixed;
    border-radius: 50%;
    width: 140px;
    left: 80px;
}

#usernameDisplay {
    position: fixed;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#long {
    width: 100vw;
    height: 200vh;
}
