#leftPanelProfile {
    width: 500px;
    height: 100vh;
    background-color:  #8A62E2;
    text-align: center;
    position: fixed;
    left: 0;
    overflow-y: scroll;
}


#profilePictureFull {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: plum;
    width: 160px;
    margin-top: 180px;
}

#profileUsername {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

#buttonGroup {
    height: 120px;
    width: 500px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#settingsButton {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

#cog {
    width: 40px;
    height: 40px;
}

#subs {
    width: 120px;
    height: 60px;
    background-color: none;
    color: white;
    border-radius: 8px;
    text-align: center;
}

#manageSubs {
    width: 120px;
    height: 60px;
    background-color: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    margin-right: 60px;
}

.bold {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.center {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#postButtn {
    width: 400px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    color: #8A62E2;
    font-weight: bold;
}

#postButtn:hover {
    cursor: pointer;
}

.hey {
    position: fixed;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#rightPanelProfile {
    position: fixed;
    top: 80px;
    left: 502px;
    width: 400px;
    height: calc(100vh - 80px);
    float: right;
    width: calc(100vw - 500px);
    background-color:  #efefef;
    overflow-y: scroll;
}

#rowOnePro {
    width: 250px;
    height: 1000px;
    margin-left: 100px;
    display: inline;
    float: left;
    margin-top: 70px;
}

#rowTwoPro {
    width: 250px;
    height: 1000px;
    display: inline;
    float: left;
    margin-top: 70px;
}

#rowThreePro {
    width: 250px;
    height: 1000px;
    display: inline;
    float: left;
    margin-top: 70px;
}

.profilePreview {
    width: 196px;
    height: 260px;
    border-radius: 12px;
    background-color: gray;
    margin-bottom: 30px;
    margin-left: 25px;
}

@media only screen and (max-width: 1400px) {
    .profilePreview {
        width: 160px;
        height: 213px;
        border-radius: 12px;

        margin-bottom: 30px;
        margin-left: 25px;
    }
    #rowOnePro {
        width: 200px;
        height: 1000px;
        margin-left: 100px;
        display: inline;
        float: left;
        margin-top: 70px;
    }
    
    #rowTwoPro {
        width: 200px;
        height: 1000px;
        display: inline;
        float: left;
        margin-top: 70px;
    }
    
    #rowThreePro {
        width: 200px;
        height: 1000px;
        display: inline;
        float: left;
        margin-top: 70px;
    }
    
}