.transaction {
    height: 100px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    display: flex;
    align-items: center;
}

.transaction:hover {
    cursor: pointer;
}

.transactionBody {
    margin-left: 20px;
}