#walletOuter {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#walletMain {
    margin-top: 50px;
    width: 90vw;
    max-width: 930px;
    height: 100vh;
    max-height: 600px;
    background-color: white;
    border-radius: 12px;
    position: relative;
}

#walletLeft {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(1, 203, 255);
    text-align: center;
    color:white;
}

#qrContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

#qrImg {
    border-radius: 10px;
    width: 120px;
}

#address {
    margin-top: 20px;
    font-size: 18px;
}

#balance {
    margin-top: 20px;
    font-size: 18px;
}

#btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.walletBtn {
    font-size: 15px;
    width: 105px;
    height: 40px;
    background-color: white;
    color: rgb(1, 203, 255);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.walletBtn:hover {
    cursor: pointer;
}