.card {
  /* Add shadows to create the "card" effect */
  width: 95vw;
  max-width: 540px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 25px;
  border-radius: 4px;
  scroll-snap-align: end;
}

.feedImg {
  width: 100%;
  max-height: 800px;
}

.basicInfo{
  width: 100%;
}

.userLink {
  margin-left: 10px;
}

.profileImgSmall {
  margin-right: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

.extraBlock {
  height: 100px;
}

.profileImageUsername {
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.commentIcon {
  width: 24px;
  margin-right: 5px;
  float: right;
}

.tipIcon {
  float: right;
}

.outerButtons {
  float: right;
  margin-top: 12px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}

.outerProfileImageUsername {
  display: inline-block;
}

.clickable:hover {
  cursor: pointer;
}