.card {
  /* Add shadows to create the "card" effect */
  width: 95vw;
  max-width: 540px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 40px;
  border-radius: 4px;
  scroll-snap-align: end;
}

.imageArea {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
}

.feedImg {
  max-height: calc(100vh - 200px);
}

.errorScreen {
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .feedImg {
      max-width: 95vw;
      max-height: 75vh;
  }
  .card {
    /* Add shadows to create the "card" effect */
    width: 95vw;
    max-width: 540px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 4px;
    scroll-snap-align: center;
  }
  .profileImgSmall {
    margin-right: 10;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 0.5px;
    border-style: solid;
    margin-left: 5px;
  }
  .userLink {
    margin-left: 5px;

  }
}


.basicInfo{
  width: 100%;
}

.userLink {
  margin-left: 10px;
}

.profileImgSmall {
  margin-right: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  margin-left: 5px;
}

.extraBlock {
  height: 100px;
}

.profileImageUsername {
  display: flex;
  align-items: center;
  margin-left: 12px;

}

.commentIcon {
  width: 24px;
  margin-right: 10px;
  float: right;
}

.tipIcon {
  float: right;
}

.outerButtons {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.buttons {
  display: flex;
  align-items: center;
}

.outerProfileImageUsername {
  display: inline-block;
}

.clickable:hover {
  cursor: pointer;
}