.card {
  /* Add shadows to create the "card" effect */
  width: 95vw;
  max-width: 540px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-top: 25px;
  border-radius: 4px;
}

.feedImg {
  width: 100%;
  max-height: 600px;
}

.basicInfoMedia{
  display: flex;
  align-items: center;
}

.infoLeft {
  display: flex;
  align-items: center;
  width: 90vw;
  max-width: 430px;
}

.userLink {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.userLink:hover {
  cursor: pointer;
}

.profileImgSmall {
  margin-right: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
}

.extraBlock {
  height: 100px;
}

.containerTipArea {
  display: inline-block;
}

.buttons {
  
}

.commentIcon {
  width: 24px;
  margin-right: 5px;
}

.comments {

}