.card {
    /* Add shadows to create the "card" effect */
    width: 440px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    margin-top: 25px;
  }

  .container {
    padding: 2px 16px;
  }

  .userInfoMedia{
    display: flex;
    align-items: center;
  }
  
  .profileImgSmall {
    margin-right: 10px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: black;
    border-width: 2px;
    border-style: dashed;
  }

  .feedImg {
      width: 100%;
      height: 265px;
  }

.userLink {
  text-decoration: none;
}

.userLink:visited {
  color: #000;
}

.extraBlock {
  height: 200px;
}

.tipButton {
  margin-left: 240px;
  background-color: white;
  border: none;
  color: blue;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  outline: none;
}

.tipButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
