.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 1px transparent solid ;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 300;
    font-family: 'Sonsie One', cursive;
    /* background-color: red; */
    /* opacity: 100%; */
}

.shadowedHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 1px transparent solid ;
    top: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    z-index: 300;
    font-family: 'Sonsie One', cursive;
    /* background-color: red; */
    /* opacity: 100%; */
}

.logo {
    margin-top: 22px;
    color: white;
}

.logo:hover {
    cursor: default;
}

.sendIcon {
    position: absolute;
    right: 40px;
    width: 40px;
    bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 55px;
        position: fixed;
        border-bottom: 1px transparent  ;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 300;
        font-family: 'Sonsie One', cursive;
        /* background-color: red; */
        /* opacity: 100%; */
    }
    .shadowedHeader {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 60px;
        position: fixed;
        border-bottom: 1px transparent  ;
        top: 0;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: all 0.3s ease-in-out;
        z-index: 300;
        font-family: 'Sonsie One', cursive;
        /* background-color: red; */
        /* opacity: 100%; */
    }
    .logo {
        margin-top: 18px;
        color: white;
    }
  }