

.tipTitle {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    width: 250px;
    display: inline-block;
}

.tipIconButton {
    height: 30px;
    margin-left: 10px;
}

.tipIconButton:hover {
    cursor: pointer;
}

.tipButtons {
    margin-left: 10px;
}

.estimateTip {
    float: right;
    margin-top: 9px;
    margin-right: 120px;
}

.successMsg {
    margin-top: 20px;
    margin-left: 10px;
    color: green;
}

.errorMsg {
    margin-top: 20px;
    margin-left: 10px;
    color: red;
}

.x {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 60px;
}

.x:hover {
    cursor: pointer;
}