
.top{
    width: 400px;
    height: 50px;
}
h1{
    margin: 0;
    padding: 0;
}
.tipTitle {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
    display: inline-block;
}

.tipIconButton {
    height: 30px;
    margin-left: 10px;
}

.tipIconButton:hover {
    cursor: pointer;
}

.tipButtons {
    margin-left: 10px;
}

.estimateTip {
    float: right;
    margin-top: 9px;
    margin-right: 120px;
}

.successMsg {
    margin-top: 20px;
    margin-left: 10px;
    color: green;
}

.errorMsg {
    margin-top: 20px;
    margin-left: 10px;
    color: red;
}

.x {
    margin-top: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    float: right;
}

.x:hover {
    cursor: pointer;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    background: #575b71;
    color: #fff;
  } 
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
  }
  .quantity__minus:link,
  .quantity__plus:link {
    color: #8184a1;
  } 
  .quantity__minus:visited,
  .quantity__plus:visited {
    color: #fff;
  }