.detail {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 10px
}

.date {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.colors {
    float: left;
    width: 20px;
    height: 20px;
}