/* Setting fade transition and default settings */
body {  
  margin: 0;
  transition: background-color 1s ease;
  font-family: sans-serif;
}

.mediaPanel {
  height: calc(100vh - 140px);
  width: 580px;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: absolute;
  top: 72px;
}

@media only screen and (max-width: 600px) {
  .mediaPanel {
    top: 66px;
    height: calc(100vh - 120px);
    width: 95vw;
  }
}

.feedPage{
  display: flex;
  justify-content: center;
  margin-right: 0;
  height: 100%;
  min-height: 100vh;
  min-width: 300px;
}