.outerBody {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.sendCardMain {
    display: flex;
    justify-content: center;
}

.letterScroll {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 90%;
    margin-top: 70px;
    font-size: 10px;
    font-family: 'Fredoka One';
}

.letterScroll:hover {
    cursor: default;
}

.letterScroll::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
.letterScroll::-moz-selection {
    color: none;
    background: none;
}

.footer {
    position: absolute;
    bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}