.walletPage {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,  rgba(22,73,222,1) -600px, rgba(0,212,255,1) 100%);
    height: 100vh;
}

.walletCard {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 70px;
    height: calc(100vh - 190px);
    width: 93vw;
    max-width: 540px;
  }

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.qrCode {
    padding-left: 15px;
    padding-top: 15px;
    width: 120px;
    height: 120px;
    float: left;
}

.addressBalance {
    display: inline-block;
    word-break: break-all;
}

.addressText {
    font-size: 20px;
}

.balance {
  
}

.walletTxCard {
    overflow-y: scroll;
    height: 100%;
    margin-left: 20px;
}