.walletPage {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.walletCard {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 70px;
    height: calc(100vh - 150px);
    width: 93vw;
    max-width: 540px;
}

.infoBlock {
    height: 160px;
    width: 93vw;
    max-width: 540px;
    padding-top: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.balanceLabel {
    margin-top: 10px;
    margin-left: 160px;
}

.balance {
    margin-left: 160px;
}

.address {
    display: inline;
    margin-left: 10px;
}

.addressLabel {
    margin-left: 163px;
    margin-top: 12px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.qrCode {
    padding-left: 7px;
    width: 145px;
    height: 145px;
    float: left;
}

.txHistory {
    height: 481px;
    width: 100%;
    overflow-y: scroll;
}

.clipboardIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.clipboardIcon:hover {
    cursor: pointer;
}

.clipboardAlert {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 2.5rem;
    max-width: 200px;
    line-height: 2.5rem;
    margin: auto;
    text-align: center;
    z-index: 1000;
    display: none; 
  }

  .clipboardAlertShow {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 90%;
    height: 2.5rem;
    max-width: 200px;
    line-height: 2.5rem;
    margin: auto;
    text-align: center;
    z-index: 1000;
    display: block; 
  }

#addressInput {
    display: none;
}