html {
    scroll-behavior: smooth;
}

#landingBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
    z-index: -1;
}

.contentContainer {
    padding-top: 83px;
}

.rowTitle {
    position: absolute;
    margin-left: 83px;
    margin-top: 25px;
}

.row {
    width: 100vw;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
    margin-top: 24px;
    scroll-behavior: smooth;
}

.row:nth-of-type(6) {
    padding-bottom: 40px;

}

.group {
    margin-left: 80px;
}

.inlineBlock {
    display: inline-block;
}

.scrollRight {
    position: absolute;
    right: 18px;
    margin-top: 185px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    z-index: 4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.scrollRight:hover {
    cursor: pointer;
}

.scrollRight:active {
    box-shadow: 0 0 0 0;
}

.arrowImgRight {
    margin-top: 3px;
    width: 55px;
    height: 55px;
    margin-left: 2px;
}

.scrollLeft {
    position: absolute;
    left: 40px;
    margin-top: 185px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    z-index: 4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: opacity 0.2s ;
    opacity: 0;
}

.scrollLeft:hover {
    cursor: pointer;
}

.scrollLeft:active {
    box-shadow: 0 0 0 0;
}

.arrowImgLeft {
    margin-top: 3px;
    margin-left: 3px;
    width: 55px;
    height: 55px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#footer {
    height: 200px;
    width: 100vw;
    background-color:  #8A62E2;
    
}

.tile {
    width: 200px;
    margin-left: 90px;
    padding-top: 34px;
    display: inline-block
}

.tile2 {
    width: 200px;
    display: inline-block
}

.footerElement {
    padding-bottom: 34px;
    color: white;
}

.footerElement:hover {
    cursor: default;
}