#header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: blue;
    z-index: 5;
}

.mainLogo {
    color: white;
    margin-left: 40px;
}

.outer {
    padding-top: 80px;
    text-align: center;
    width: 100vw;
}

.rowTitle {
    position: absolute;
    margin-left: 40px;
    margin-top: 25px;
}

.row {
    width: 100vw;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 24px;
}
/* 
.row:nth-of-type(2) {
    width: 100vw;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
    background-color: red;
} */

.item {
    width: 196px;
    height: 260px;
    background-color: blueviolet;
    border-radius: 12px;
    margin-top: 80px;
    margin-right: 35px;
    display: inline-block;
}

.item:nth-of-type(1) {
    width: 196px;
    height: 260px;
    background-color: blueviolet;
    border-radius: 12px;
    margin-top: 80px;
    margin-left: 30px;
    display: inline-block;
}

.item:hover {
    cursor: pointer;
    background-color: #8A73E2;
}
