#header {
    position: fixed;
    height: 90px;
    width: 100vw;
    background-color: white;
    z-index: 5;
}

.mainLogo {
    color:  #8A62E2;
    margin-left: 80px;
    margin-top: 30px;
    font-size: 22px;
    display: inline-block;
}

.mainLogo:hover {
    cursor: pointer;
}

.buttonGroup {
    float: right;
}

#wallet {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-top: 19.8px;
    border-color: #8A62E2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#wallet:hover {
    cursor: pointer;
    background-color: #8A62E2;
    color: white;
}

#ethLogo {
    width: 30px;
    display: inline-block;
}

#profile {
    width: 100px;
    height: 40px;
    margin-right: 40px;
    border-color: #8A62E2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#profile:hover {
    cursor: pointer;
    background-color: #8A62E2;
    color: white;
}

.outer {
    padding-top: 80px;
    text-align: center;
    width: 100vw;
}

.rowTitle {
    position: absolute;
    margin-left: 80px;
    margin-top: 25px;
}

.row {
    width: 100vw;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 24px;
}
/* 
.row:nth-of-type(2) {
    width: 100vw;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
    background-color: red;
} */

.group {
    margin-left: 80px;
}

.item {
    width: 196px;
    height: 260px;
    background-color: gray;
    border-radius: 12px;
    margin-top: 80px;
    margin-right: 40px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    cursor: pointer;
    /* background-color: #8A73E2; */
}

.inlineBlock {
    display: inline-block;
}

.scrollRight {
    position: absolute;
    right: 0;
    margin-top: 180px;
    width: 40px;
    height: 40px;
    background-color: red;
    z-index: 10;
}